body {
    display: flex;
    /* flex-direction: column; */
    margin: 0;
}

header {
    font-size: 24px;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 70%;
    text-decoration: none;
}

nav ul {
    display: flex;
    gap: 20px;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    
}

.hero-container {
    width: 100%;
    height: 100vh;
    background-color: #1f2937;
    
}

.hero-content {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
    margin-top: 27px;
}

a { 
    text-decoration: none;
    color: #ffffff;
}

.hero-row {
    display: flex;
    
   
    color: #ffffff;
    width: 70%;
}


.row-container {
    display: flex;
    
    align-items: center;
    gap: 20px;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    
}



img {
    display: flex;

    padding: 10px;
    width: 32%;
}

























/* .hero-row {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10%;
    width: 70%;
    margin: 0;
} */

/* h1 {
    display: flex;
    justify-content: space-between;
    width: 70%;
    color: #ffffff;
}

.column-1, h1 {
    display: flex;
    
    
} */



/* .hero-row, .column-1 {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
    margin-top: 27px;
   
    
} 

.hero-row, h1 {
    display: flex;
    justify-content: space-between;
    font-weight: extra-bold;
    font-size: 48px;
    color: #ffffff;
    width: 70%;
}

.hero-row, p {
    font-size: 18px;
} */