* {
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    
}


nav {
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding: 10px;
}

nav ul {
    display: flex;
    gap: 20px;
    /* text-decoration: none; */
    list-style-type: none;
    margin: 0;
   
}

a {
    text-decoration: none;
    /* list-style-type: none; */
    color: #fff;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 110px;
       
    /* width: 70%; */
}

.info-container {
    display: flex;
    flex-direction: row;
    /* background-color: #f8eba120; */
    padding: 110px;
    margin: 10px;
    
}

.info-container h1 {
    display: flex;
    color: black;
    text-align: center;
    padding-top: 0;
}

.box {
    width: 150px;
    height: 150px;
    border-color: 1px dashed #ff734d;
    border: #1f2937;
    background-color: #388286;
    text-align: center;
   
    gap: 15px;
    margin: 10px;
}



.feedback-container {
    background-color: #e5e7eb;
    padding: 110px;
    margin: 0;
}

.CTA-container {
    background-color: #fff;
    padding: 110px;
    margin: 0;
}

.CTA-container h1 {
    color: #388286;
}


footer {
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding: 30px;
    margin: 0;
}

.footer p {
    color: #fff;
}


/* .hero-text {
    display: flex;
    justify-content: space-evenly;  
    
} */

h1 {
    color: #fff;
}

p {
    display: flex;
    width: 40%;
    color: #fff;
}

/* .hero-text h1 {
    display: flex;
    order: 1;
    justify-content: flex-start;
} */

img {
    height: 180px;
    width: auto;
}
























/* Old CSS */

/* @import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

section {
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    background-color: #0496ff;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    color: #fff;

}

.home-bg {
    background-color: #1f2937;
}

.home {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.home .content {
    flex: 1 1 42rem;

}

.home .image {
    flex: 1 1 42rem;
}

.home .content h1 {
    font-size: 4.5rem;
    color: #fff;
    line-height: 1.3;
    margin-bottom: 1rem;
}

.home .content p {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 2rem;
    opacity: 0.5;
}

@media (max-width: 991px) {

    html {
        font-size: 55%;
    }  
}

@media (max-width: 450px) {

    html {
        font-size: 45%;
    }  
}



 */
